body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        padding: 20px;
        margin: 0;
    }

    h1 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
    }

    .centered-form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .centered-form input[type="number"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
        margin: 0 10px;
        width: 150px;
    }

    .button-group {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .button-group>* {
        padding: 10px;
        margin: 0 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
        text-decoration: none;
        background-color: #3498db;
        color: white;
        border: none;
        cursor: pointer;
    }

    input[type="submit"]:hover,
    a.back-home-button:hover {
        background-color: #2980b9;
    }

    .input-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .input-group label {
        flex-shrink: 0;
        margin-right: 10px;
        white-space: nowrap;
    }

    .input-group input[type="number"] {
        flex-grow: 1;
        margin-right: 10px;
    }

    .input-group label,
    .input-group input[type="number"] {
        width: calc(50% - 20px);
    }