* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #f4f4f4;
}

#navbar-logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: 150px;
}

nav ul {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  text-align: center;
}

body {
  background-color: #f4f4f4;
  color: black;
  font-family: Arial, sans-serif;
}

.icon-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.icon-item {
  background-color: azure;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  width: 150px;
  text-align: center;
}

.icon-item img {
  width: 100%;
  padding: 10px;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 1em;
  background-color: #f4f4f4;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Form and button container */
.form-container {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  /* Grey background */
}

/* Inline form styling */
form {
  display: inline-block;
  /* Display form inline */
  margin-right: 20px;
  /* Spacing between form and 'Back to Home' button */
}

/* Back to Home button styling, displayed inline next to the form */
.back-home-button {
  display: inline-block;
  background-color: #3498DB;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-home-button:hover {
  background-color: #2980B9;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th {
  background-color: #3498DB;
  color: white;
  padding: 10px;
  border: 1px solid #3498DB;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: white;
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="email"],
input[type="text"] {
  width: calc(100% - 22px);
  /* Adjust width considering padding and border */
}

input[type="submit"] {
  background-color: #3498DB;
  color: white;
  cursor: pointer;
  margin-right: 0;
  /* Overrides previous margin-right */
}

input[type="submit"]:hover {
  background-color: #2980B9;
}

a {
  color: #3498DB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}