<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Annual Expenses for parts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='expense.css') }}">
</head>

<body>
    <h1>Get Annual Expenses for parts</h1>
    <div class="centered-form">
        <form action="/get-expenses" method="post">
            <div class="year-inputs">
                <div>
                    <label for="start">Start Year:</label>
                    <input id="start" name="start" type="number" placeholder="YYYY" min="2016" max="2023">
                </div>
                <div>
                    <label for="end">End Year:</label>
                    <input id="end" name="end" type="number" placeholder="YYYY" min="2016" max="2023">
                </div>
            </div>
            <input type="submit" value="Get Expenses" class="back-home-button">
            <a href="/" class="back-home-button">Back to Home</a>
    </div>
    </form>
    </div>
    </div>
    <script>
        document.querySelectorAll("input[type=number]").forEach(input => {
            input.oninput = e => console.log(new Date(e.target.valueAsNumber, 0, 1));
        });
    </script>
    {% if data!= [] %}
    <table>
        <tr>
            <th>Year</th>
            <th>Total Expenses</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ currency(row[1], grouping=True) }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>