<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Show Tables</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="form-container">
    <h1>Show Tables</h1>
    <form action="/show-table" method="post" style="display: inline-block; margin-right: 20px;">
      Table Name: <input type="text" name="name">
      <input type="submit" value="Find Table">
      <a href="/" class="back-home-button">Back to Home</a>
    </form>
  </div>
  <table>
    <tr>
      {% for column in columns %}
      <th>{{ column.capitalize() }}</th>
      {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
      {% for column in columns %}
      <td>{{ row[column] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>

</html>