<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Tables</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>Show Tables</h1>
    <form action="/show-table" method="post">
        Table Name: <input type="text" name="name">
        <input type="submit" value="Find Table">
    </form>
<a href="/">Back to Home</a>
<table>
  <tr>
      {% for column in columns %}
    <th>{{column.capitalize()}}</th>
      {% endfor %}
  </tr>
     {% for row in data %}
  <tr>
      {% for column in columns %}
    <td>{{row[column]}}</td>
      {% endfor %}
  </tr>
    {% endfor %}

</table>

</body>
</html>